---
import Layout from "../layouts/Layout.astro";
---

<Layout
  pageTitle="404 | d0lfin photo blog"
  description="Requested page was not found."
  canonicalPath="/404/"
  noIndex={true}
>
  <h1>404</h1>
  <p>Page not found.</p>
  <p><a href="/">Go back home</a></p>
</Layout>
